{% extends 'layout.html' %}

{% block content %}
<div class='login'>
<h1 id='title'>Algorand Wallet</h1>
<h1 >Login</h1>
<form action="{{ url_for('auth_bp.login') }}" method="post">
    {{ form.csrf_token }}

    {{ form.passphrase.label }}
    <br>
    {{ form.passphrase }}
    <br><br>
    {{ form.submit }}
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<h2>Passphrase not found</h2>
{% else %}
<br><br><br>
{% endif %}
{% endwith %}
<br>
  <h2><a href="{{ url_for('auth_bp.signup') }}">Create a Wallet</a></h2>
</div>
{% endblock %}